:root {
    --main-bg-color: #DFFDE1;
    --card-bg-color:#FAFAFA;
  }

body {
    background-color: var(--main-bg-color);
}

.title-through {
  text-decoration: line-through;
}
.title-todo {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
}
